body {
	background-color: #3CF;
}

nav{
     background-image: -webkit-linear-gradient(#FFF, #CCC);
     background-image: -o-linear-gradient(#FFF, #CCC);
     background-image: linear-gradient(#FFF, #CCC);
     overflow: hidden;
     padding: 10px;
     width: 950px;
}

nav ul{
		list-style: none;
		margin: 0 10px 0 10px;
		padding: 0;
}
nav ul li{
	float:left;
	font-size: 16px;
	font-weight: bold;
	margin-right: 10px;
	text-align: center;
	text-shadow: 0px 1px 0px #FFF;
}

nav ul li:hover{

    background-image:-webkit-linear-gradient(#FFF, #E3E3E3);
    background-image:-o-linear-gradient(#FFF, #E3E3E3);
    background-image:linear-gradient(#FFF, #E3E3E3);
    box-shadow: 1px -1px 0px #999;
    border: 1px solid #E3E3E3;

}

nav ul li a{
	color:#999;
	display: block;
	padding: 10px;
	text-decoration: none;
}

nav ul li a:hover{
	color: #000;
}

/*
h1{
	text-align: center;
	letter-spacing: 7px;
	color: blue;
	font-size: 2.5em;
	font-weight: bolder;
}




#main{
	text-align: center;
}

.source.container{
	position: relative;
	height: 300px;
	width:40px;
	display: inline-block;
	border: solid 1px;
	background-color: #f7f7f7;
	vertical-align: top;
	transition: all 04s;
}

.container {
	z-index: 100;
}
.over{
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0,4);
	-webkit-transform: scale(1.1);
}
.circle {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background-color: red;
}
*/